extends  layout
block content
    main
        h1 📁 사원 수정 폼 (Read)
        form(name="empUpdateForm",action="/emp/update.do",method="POST")
            //action : 어디로 보낼껀지 주소 적는 곳

            p
                span 사번:
                input(value=emp.EMPNO,name="empno",readonly="true")
                //name:파라미터의 key 값이 된다.
                //readonly: 수정이 안되게 한다.
                    //type="hidden"으로 바꿔주면 수정시 보이지 않지만 넘어가는 파라미터가 된다.
            p
                span 이름:
                input(value=emp.ENAME,name="ename")
            p
                span 직책:
                input(value=emp.JOB,name="job")
            p
                span 급여:
                input(value=emp.SAL,name="sal")
            p
                span 상여금:
                input(value=emp.COMM,name="comm")
                //🤔보안이 취약하지 않을까?
                    //동적페이지의 일부! 보안은 걱정하지 않아도 된다.
                    //템플릿 엔진(pug) 동적페이지 => html 렌더링(서버사이드렌더링) => 배포
                -let nowStr=""
                -if(emp.HIREDATE)
                    -let y=emp.HIREDATE.getUTCFullYear();
                    -let m=emp.HIREDATE.getUTCMonth()+1;
                    -m=(m<10)?"0"+m:m;
                    -let d=emp.HIREDATE.getUTCDate();
                    -d=(d<10)?"0"+d:d;
                    -nowStr=`${y}-${m}-${d}`;
            p
                span 입사일:
                input(value=nowStr,name="hiredate",type="date")
            p
                span 상사:
                input(value=emp.MGR, name="mgr")
            p
                span 부서:
                input(value=emp.DEPTNO, name="deptno")
            p
                a(href=`/emp/delete.do?empno=${emp.EMPNO}`) 삭제 &nbsp;&nbsp;&nbsp;

                button(type="submit") 수정제출
