html(lang="en")
    head
        title SCOTT.emp CRUD
        meta(charset="UTF-8")
        //link(rel="stylesheet" href="/public/css/empDetail.css")
    body
        h1 π“ μ‚¬μ› μμ • νΌ (Read)
        h2 π“• http ν†µμ‹ μ—μ„ μ”μ²­μ 2κ°€μ§€ λ°©μ‹ (method) GET κ³Ό POST (β¨μ•”κΈ° : λ©΄μ ‘μ— μΆ…μΆ… λ“±μ¥ μ•„λ§λ„ μ°¨μ΄μ ...)
        h3 π‘‰ GET :  νλΌλ―Έν„°λ¥Ό url μ querystring μ— ν¬ν•¨ν•΄μ„ λ³΄λ‚΄λ” λ°©μ‹.
            ul
                li λ³΄ν†µ GET λ°©μ‹μ€ λ™μ  λ¦¬μ†μ¤μ μ •λ³΄λ¥Ό μ¶”μ¶(SELECT) ν•λ”λ° μ‚¬μ©λλ” νλΌλ―Έν„°λ¥Ό λ³΄λ‚Ό λ• μ‚¬μ©ν•λ‹¤.
                li λ•λ¬Έμ— λ³΄ν†µ νλΌλ―Έν„°μ κ°’μ€ λ°”λ€μ§€ μ•κ³  νλΌλ―Έν„°κ°€ μ—†λ‹¤λ©΄ λ™μ  λ¦¬μ†μ¤λ” λ™μ‘ν•μ§€ μ•λ”λ‹¤.(http status code: 400)
                li μ €μ¥ν•κ±°λ‚ κ³µμ λλ” url μ νλΌλ―Έν„°λ” GET λ°©μ‹μΌλ΅ λ³΄λ‚Έλ‹¤.
                li μ¥μ  : ν†µμ‹ μ†λ„κ°€ POST λ³΄λ‹¤ λΉ λ¥΄λ‹¤. url μ„ κ³µμ ν•  μ μλ‹¤.
                li λ‹¨μ  : url κΈΈμ΄κ°€ μ ν•μ μ΄λΌμ„ κ°’μ΄ κΈ΄ νλΌλ―Έν„°λ¥Ό μ „λ‹¬ν•  μ μ—†λ‹¤. (λΈλΌμ°μ €λ§λ‹¤ κΈΈμ΄μ ν•μ΄ λ‹¤λ¥΄λ‹¤./π”λΈλΌμ°μ € url κΈΈμ΄λ΅ κ²€μƒ‰)
        h3 π‘‰ POST : μ–‘μ‹μ„ μ μ¶ν•λ©΄ νλΌλ―Έν„°λ¥Ό μ”μ²­ Header μ— ν¬ν•¨ν•΄μ„ λ³΄λ‚΄λ” λ°©μ‹.(νλΌλ―Έν„°λ” λ³€ν•μ§€μ•λ”λ‹¤)
            ul
                li λ³΄ν†µ POST λ°©μ‹μ€ λ°μ΄ν„°λ¥Ό μμ •,λ“±λ΅ν•λ” μ–‘μ‹μ—μ„ νλΌλ―Έν„°λ¥Ό λ³΄λ‚Ό λ• μ‚¬μ©ν•λ‹¤.
                li μ΄λ• μ‚¬μ©λλ” λ™μ  λ¦¬μ†μ¤λ” νλΌλ―Έν„°μ κ°’μ— μν•΄μ„ λ°μ΄ν„°κ°€ λ³€κ²½λ  μ μκΈ° λ•λ¬Έμ— κ³µμ ν•λ” url λ΅ μ‚¬μ©λ  μ μ—†λ‹¤.
                li μ”μ²­ Header : μ”μ²­ν•λ” λ¦¬μ†μ¤(url), λΈλΌμ°μ €, μ»΄ν“¨ν„°, ν†µμ‹ μΆ…λ¥ λ“±λ“± μ”μ²­μ— λ€ν• μƒμ„Έ(λ©”νƒ€)μ •λ³΄κ°€ ν¬ν•¨λμ–΄ μλ‹¤.
                li μ¥μ : λ³΄μ•μ΄ κ°•ν™”λλ‹¤ (νλΌλ―Έν„°μ κ°’μ΄ μ¨κ²¨μ Έμ„ λ„μ–΄κ°€κΈ° λ•λ¬Έμ΄λ‹¤), νλΌλ―Έν„° κΈΈμ΄ μ ν•μ΄ μ—†λ‹¤.
                li λ‹¨μ : GET λ³΄λ‹¤ λλ¦¬λ‹¤. url μ„ κ³µμ ν•  μ μ—†λ‹¤.(μΌλ¶€λ¬ μ΄λ ‡κ² ν•κ²ƒμ΄κΈ° λ•λ¬Έμ—.. λ‹¨μ μ΄λΌ λ³΄κΈ°λ”?)

        form(name="empUpdateForm",action="/empUpdate.do",method="POST")
            //action : μ–΄λ””λ΅ λ³΄λ‚Όκ»€μ§€ μ£Όμ† μ λ” κ³³

            p
                span μ‚¬λ²:
                input(value=emp.EMPNO,name="empno",readonly="true")
                //name:νλΌλ―Έν„°μ key κ°’μ΄ λλ‹¤.
                //readonly: μμ •μ΄ μ•λκ² ν•λ‹¤.
                    //type="hidden"μΌλ΅ λ°”κΏ”μ£Όλ©΄ μμ •μ‹ λ³΄μ΄μ§€ μ•μ§€λ§ λ„μ–΄κ°€λ” νλΌλ―Έν„°κ°€ λλ‹¤.
            p
                span μ΄λ¦„:
                input(value=emp.ENAME,name="ename")
            p
                span μ§μ±…:
                input(value=emp.JOB,name="job")
            p
                span κΈ‰μ—¬:
                input(value=emp.SAL,name="sal")
            p
                span μƒμ—¬κΈ:
                input(value=emp.COMM,name="comm")
            p
                -let y=emp.HIREDATE.getUTCFullYear();
                -let m=emp.HIREDATE.getUTCMonth()+1;
                -m=(m<10)?"0"+m:m
                -let d=emp.HIREDATE.getUTCDate();
                -d=(d<10)?"0"+d:d

                span μ…μ‚¬μΌ:
                input(value=`${y}-${m}-${d}`,name="hiredate",type="date")
                //emp.HIREDATE type Date : mysqlμ— μλ” Hiredate(Y/M/d)μ κ°’μ„ jsμ Data(Y,M,d,h,m,s,ss)λ΅ νμ‹±
                //yyyy-MM-dd -> typeμ΄ dateμΈ value
                //yyyy-MM-dd HH:mm -> typeμ΄ datelocaltimeμΈ value
            p
                span μƒμ‚¬:
                input(value=emp.MGR, name="mgr")
            p
                span λ¶€μ„:
                input(value=emp.DEPTNO, name="deptno")
            p
                a(href=`/empDelete.do?empno=${emp.EMPNO}`) μ‚­μ  &nbsp;&nbsp;&nbsp;

                button(type="submit") μμ •μ μ¶
